@font-face {
 src: url("../fonts/poppins/Poppins-Regular.ttf");
 font-family: Poppins;
}

/* Reset Code*/
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style-type: none;
 border: none;
 outline: none;
 font-family: Poppins;
}

body {
 background: var(--container-bg-color);position: relative;
 min-height: 100vh;
}

h1 {
 font-size: 25px;
}

a {
 color: var(--black-color);
}

button {
 background: none;
 padding: 5px 8px;
 border-radius: 8px;
 cursor: pointer;
}

i {
 display: inline-block;
}

button.button {
 background: var(--white-color);
 border: 1px solid var(--border-color);
}

button.button.login-btn {
 border: 1px solid var(--border-color);
 color: var(--black-color);
 display: flex;
 align-items: center;
 justify-content: space-between;
}

button.button.login-btn i {
 margin: 0 5px;
}

button.icon-btn {
 display: flex;
 align-items: center;
 justify-content: center;
}

button.icon-btn:hover {
 outline: 1px solid var(--border-color);
 background: var(--white-color);
}

input {
 background: none;
}

body>header {
 width: 100%;
 min-height: 50px;
 padding: 18px 25px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 position: sticky;
 left: 0;
 top: 0;
 background: var(--container-bg-color);
 box-shadow: var(--header-bottom-shadow)
}


body>header>nav>ul>li {
 display: inline;
 margin: 0px 10px;
}

body>header>div.searhbar_profile-pic_login-button_cover {
 width: 30%;
 display: flex;
 align-items: center;
 justify-content: space-around
}

body>header>div.searhbar_profile-pic_login-button_cover>div {
 margin: 0 8px;
}



body>header>div.searhbar_profile-pic_login-button_cover>.searchbar input {
 border: 1px solid var(--border-color);
 padding: 8px;
 height: 28px;
 border-radius: 4px;
 font-size: 12px
}

body>header>div.searhbar_profile-pic_login-button_cover>.profile-pic>img {
 width: 30px;
 height: 30px;
 border-radius: 50%;
 border: 1.8px solid var(--border-color);
 position: relative;
}

body>header>div.searhbar_profile-pic_login-button_cover>.profile-pic {
 position: relative;
}

body>header>div.searhbar_profile-pic_login-button_cover>.profile-pic i {
 position: absolute;
 bottom: 4px;
 right: -9px;
}

body>header>.menu-button-cover>button>i {
 font-size: 18px
}


main {
 padding: 18px 25px;
}

form.login-form {
 max-width: 500px;
 min-width: 200px;
 min-height: 250px;
 border: 1px solid var(--border-color);
 border-radius: 8px;
 position: absolute;
 z-index: 5;
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-direction: column;
 padding: 10px;
 top: 50%;
 left: 50%;
 /* top: 50%; */
 transform: translate(-50%, -50%);
 background: var(--container-bg-color);
 /* transform: translateY(-50%)
 transform: translate(-50%,-50%); */
 
}
form.login-form input{
 border: 1px solid var(--border-color);
 height: 30px;
 border-radius: 5px;
 padding: 5px;
}


.popup-screen{
 position: absolute;
 width: 100vw;
 height: 100vh;
 top: 0;
 left: 0;
 background: var(--white-color);
 opacity: 50%;
 z-index: 3;
 display: none;
}
.popup-box{
 z-index: 5
}